div.nav_bar
    a(href="/")
        span
            span 
                i.far.fa-user
            span Iniciar
    a(href="/register")
        span
            span
                i.far.fa-file-alt
            span Regístrate